<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <div class="logo-wrapper">
          <img src="/logo.png" alt="EE Logo" class="logo">
          <a href="{{ "" | relURL }}" class="nav-title">{{ .Site.Title }}</a>
        </div>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="{{ "posts" | relURL }}" class="nav-item-content">{{ i18n "posts" }}</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="{{ "about" | relURL }}" class="nav-item-content">{{ i18n "about" }}</a>
          </div>
          <!-- <div class="nav-item-wrapper">
            <a href="{{ "search" | relURL }}" class="nav-item-content">{{ i18n "search" }}</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</nav>
