<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ "/favicon.ico" | relURL }}">

    <meta name="keyword" content="{{ .Site.Params.keyword }}">

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}">

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

    
    <!-- Open Graph meta tags for social media preview -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ .Summary }}" />

    <!-- Use the cover image (if defined in front matter) for Open Graph -->
    <meta property="og:image" content="{{ if .Params.cover }}{{ .Params.cover | absURL }}{{ else }}{{ .Site.BaseURL }}images/default-image.jpg{{ end }}" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:image" content="{{ if .Params.cover }}{{ .Params.cover | absURL }}{{ else }}{{ .Site.BaseURL }}images/default-image.jpg{{ end }}" />
    
</head>