<!-- file: layouts/shortcodes/emailform.html -->

{{ $formID := .Get "formID" }}
{{ $buttonText := .Get "buttonText" }}

<style>
.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.email-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.email-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.email-form button[type="submit"] {
  color: #fff;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.email-form button[type="submit"]:hover {
  background-color: #fff;
  border: 1px solid black ;
  color: black;
}
</style>

<form action="https://example.com/submit-email" method="POST" class="email-form" id="{{ $formID }}">
  <label for="email">Email Address:</label>
  <input type="email" name="email" id="email" required>
  <button type="submit">{{ $buttonText }}</button>
</form>
